<div class="mt-4">
    <h3>Khoa Hoc Cua Toi</h3>
    <table class="table mt-4">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Ten khoa hoc</th>
            <th scope="col" colspan="2">Thoi gian tao</th>
        </tr>
    </thead>
    <tbody>

        {{#each courses}}
        <tr>
            <th scope="row">{{sum @index 1}}</th>
            <td>{{this.name}}</td>
            <td>{{this.createdAt}}</td>
            <td>
                <a href="/courses/{{this._id}}/edit" class="btn btn-link">Sua</a>
                <a href="/courses/{{this._id}}/edit" class="btn btn-link">Xoa</a>
            </td>
        </tr>
        {{/each}}

    </tbody>
</table>
</div>